fastapi
uvicorn
python-multipart
pdfplumber
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters

# HuggingFace
huggingface-hub
langchain-huggingface

# FAISS
faiss-cpu



